Repository FZJ-JSC/JUBE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:release_notes, build:help, build:pdf, build:site, pages

Path conditions:
  build:release_notes: any of: docs/release_notes.rst
  build:help: any of: docs/glossar.rst
  build:pdf: any of: docs/**/*
  build:site: any of: docs/**/*
  pages: any of: docs/**/*

Fixed rules of CI jobs to not run on MR events
  .gitlab-ci.yml
Due: none

add CITATION.cff
  CITATION.cff
Due: none

Fix for overwriting subs with the same source
  jube2/jubeio.py
  jube2/substitute.py
  tests/substitute_tests.py
Due: none

Add platform test to check substitution
  tests/substitute_test_scripts/main.xml
  tests/substitute_test_scripts/submit.job
  tests/substitute_tests.py
Due: none

Add release note for new option -w
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Updating RELEASE_NOTES (Runner ID:653)
  RELEASE_NOTES
Due: none

Updating docs/JUBE.pdf (Runner ID:653)
  docs/JUBE.pdf
Due: build:pdf, build:site, pages

Add option --workpackage for info-command
  jube2/info.py
  jube2/main.py
Due: none

Add new option -w to commandline docu
  docs/commandline.rst
Due: build:pdf, build:site, pages

Added substitution test to CI
  .gitlab-ci.yml
Due: none

update CITATION.cff
  CITATION.cff
Due: none

update release_notes for version 2.6.1
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Updating Version (Runner ID:653)
  docs/conf.py
  jube2/conf.py
  setup.py
Due: build:pdf, build:site, pages

add zenodo DOI badge to README
  README.md
Due: none

fix indentation in CITATION.cff
  CITATION.cff
Due: none

Update util.py
  jube2/util/util.py
Due: none

Fix update_mode bug
  jube2/jubeio.py
Due: none

Addition to update_mode documentation
  docs/glossar.rst
Due: build:help, build:pdf, build:site, pages

Add test for update_mode bug
  tests/step_tests.py
Due: none

Add release notes
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Updating jube2/help.txt (Runner ID:653)
  jube2/help.txt
Due: none

Added distutils.version source code in jube2.util (removing deprecation warning) and adapted the code accordingly
  jube2/jubeio.py
  jube2/main.py
  jube2/util/version.py
  tests/conf_tests.py
Due: none

Changed python3 to python3.11 on CI
  .gitlab-ci.yml
Due: none

Reverted change on cong_tests.py, as packaging is needed
  tests/conf_tests.py
Due: none

Fixed detection of warnings
  .gitlab-ci.yml
Due: none

changed colors of website to FZJ's darker blue
  docs/conf.py
Due: build:pdf, build:site, pages

Added checks for warnings in outputs of tests
  .gitlab-ci.yml
Due: none

Fixed yaml_test returns
  tests/yaml_tests.py
Due: none

Added citation file to dist and fix artifact folder
  .gitlab-ci.yml
  setup.py
Due: none

Fixed deprecation warning in conf_tests.py
  tests/conf_tests.py
Due: none

Removed convertion from unittest and improved conversion message; Improved yaml_test to check raise of error
  jube2/util/util.py
  tests/util_tests.py
  tests/yaml_tests.py
Due: none
