Repository FZJ-JSC/JUBE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:release_notes, build:help, build:pdf, build:site, pages

build:release_notes:
  before_script:
  - rm -r "${CI_PROJECT_DIR}/${CI_JOB_NAME#*:}" || true
  - cd ${CI_PROJECT_DIR}
  - git clone https://gitlab-ci-token:${GIT_PUSH_TOKEN}@${CI_REPOSITORY_URL#*@} "${CI_JOB_NAME#*:}"
  - git config --global user.name "${BOT_NAME}"
  - git config --global user.email "${BOT_EMAIL}"
  ...

build:help:
  before_script:
  - rm -r "${CI_PROJECT_DIR}/${CI_JOB_NAME#*:}" || true
  - cd ${CI_PROJECT_DIR}
  - git clone https://gitlab-ci-token:${GIT_PUSH_TOKEN}@${CI_REPOSITORY_URL#*@} "${CI_JOB_NAME#*:}"
  - git config --global user.name "${BOT_NAME}"
  - git config --global user.email "${BOT_EMAIL}"
  ...

build:pdf:
  before_script:
  - rm -r "${CI_PROJECT_DIR}/${CI_JOB_NAME#*:}" || true
  - cd ${CI_PROJECT_DIR}
  - git clone https://gitlab-ci-token:${GIT_PUSH_TOKEN}@${CI_REPOSITORY_URL#*@} "${CI_JOB_NAME#*:}"
  - git config --global user.name "${BOT_NAME}"
  - git config --global user.email "${BOT_EMAIL}"
  ...

build:site:
  stage: build
  script:
  - cd docs
  - make html
  artifacts:
    paths:
    - docs/_build/html

pages:
  stage: deploy
  needs:
  - build:site
  script:
  - mkdir -p public
  - cp -r docs/_build/html/* public/
  artifacts:
    paths:
    - public

Fix schema to only text or regex for sub mode
  contrib/schema/jube.dtd
  contrib/schema/jube.rnc
Due: none

Fix tutorial
  docs/tutorial.rst
Due: build:pdf, build:site, pages

Fix: Not removing keys inside iteration
  jube2/result_types/genericresult.py
  jube2/result_types/keyvaluesresult.py
Due: none

Fix release note
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Fix glossar and release notes
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Adjustments in tutorial
  docs/tutorial.rst
Due: build:pdf, build:site, pages

Add info to use pattern or parameter name to tutorial
  docs/tutorial.rst
Due: build:pdf, build:site, pages

Extend help message
  jube2/main.py
Due: none

Adaptation of the tutorial to the new result example
  docs/tutorial.rst
Due: build:pdf, build:site, pages

Add warning for not existing pattern or parameter name
  jube2/result_types/genericresult.py
  jube2/result_types/keyvaluesresult.py
Due: none

Fix warning and help message
  jube2/main.py
  jube2/result_types/genericresult.py
  jube2/result_types/keyvaluesresult.py
Due: none

Added creation of dist package on CI
  .gitlab-ci.yml
Due: none

Added update of files download.php and version
  .gitlab-ci.yml
Due: none

Updating RELEASE_NOTES (Runner ID:653)
  RELEASE_NOTES
Due: none

Updating docs/JUBE.pdf (Runner ID:653)
  docs/JUBE.pdf
Due: build:pdf, build:site, pages

Removed test job from gitlab CI
  .gitlab-ci.yml
Due: none

Added _static folder back to conf.py
  docs/conf.py
Due: build:pdf, build:site, pages

Changed CI jobs only to master. Added new item to release notes
  .gitlab-ci.yml
  RELEASE_NOTES
  docs/JUBE.pdf
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

update result section of the tutorial
  docs/tutorial.rst
Due: build:pdf, build:site, pages

Add unit to the help message of the parameter_tag
  jube2/help.txt
Due: none

Add warning for the case where a name occurs more than once
  jube2/result_types/genericresult.py
  jube2/result_types/keyvaluesresult.py
Due: none

Add the sqlite requirement note to the README file
  README.md
Due: none

Improve help message and add blank line
  jube2/main.py
  jube2/result_types/keyvaluesresult.py
Due: none

Remove blank lines
  jube2/parameter.py
  jube2/pattern.py
Due: none

Glossary note about missing unit from database and syslogs
  docs/glossar.rst
Due: build:help, build:pdf, build:site, pages

Updating jube2/help.txt (Runner ID:653)
  jube2/help.txt
Due: none

Add attribute mode to help text for sub_tag
  jube2/help.txt
Due: none

update result database section in advanced toturial
  docs/advanced.rst
Due: build:pdf, build:site, pages

Expand files_and_sub example to show example for regex sub
  docs/tutorial.rst
  examples/files_and_sub/file.in
  examples/files_and_sub/files_and_sub.xml
  examples/files_and_sub/files_and_sub.yaml
Due: build:pdf, build:site, pages

remove file attribute from examples/result_database
  examples/result_database/result_database.xml
  examples/result_database/result_database.yaml
  examples/result_database/result_database_filter.xml
  tests/examples_tests.py
Due: none

Adjustments to the documentation and the release notes
  docs/glossar.rst
  docs/release_notes.rst
  docs/tutorial.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Remove edit in help.txt
  jube2/help.txt
Due: none

Output of multiple column warning only once
  jube2/result_types/genericresult.py
  jube2/result_types/keyvaluesresult.py
Due: none

Add error msg for name in select and exclude
  jube2/result_types/genericresult.py
  jube2/result_types/keyvaluesresult.py
Due: none

Path conditions:
  build:release_notes: any of: docs/release_notes.rst
  build:help: any of: docs/glossar.rst
  build:pdf: any of: docs/**/*
  build:site: any of: docs/**/*
  pages: any of: docs/**/*
