Repository FZJ-JSC/JUBE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:release_notes, build:help, build:pdf, build:site, pages

Path conditions:
  build:release_notes: any of: docs/release_notes.rst
  build:help: any of: docs/glossar.rst
  build:pdf: any of: docs/**/*
  build:site: any of: docs/**/*
  pages: any of: docs/**/*

add 'jube output' option
  docs/glossar.rst
  docs/release_notes.rst
  jube2/main.py
Due: build:release_notes, build:help, build:pdf, build:site, pages

Updating docs/JUBE.pdf (Runner ID:653)
  docs/JUBE.pdf
Due: build:pdf, build:site, pages

Updating jube2/help.txt (Runner ID:653)
  jube2/help.txt
Due: none

Updating RELEASE_NOTES (Runner ID:653)
  RELEASE_NOTES
Due: none

add new check_tags tag, extend the tagging example and update corresponding adv. tutorial chapter
  contrib/schema/jube.dtd
  contrib/schema/jube.rnc
  contrib/schema/jube.xsd
  docs/advanced.rst
  docs/glossar.rst
  docs/release_notes.rst
  examples/tagging/tagging.xml
  examples/tagging/tagging.yaml
  jube2/jubeio.py
  jube2/util/yaml_converter.py
  tests/examples_tests.py
Due: build:release_notes, build:help, build:pdf, build:site, pages

Ask only for same argument in select and exclude when select is given
  jube2/result_types/genericresult.py
  jube2/result_types/keyvaluesresult.py
Due: none

First new tests for cycle, dependencies and do_log
  tests/example_cycle_tests.py
  tests/example_dependencies_tests.py
  tests/example_do_log_tests.py
  tests/examples_tests.py
Due: none

Add all tests except result tests
  tests/example_dependencies_tests.py
  tests/example_do_log_tests.py
  tests/example_duplicate_tests.py
  tests/example_environment_tests.py
  tests/example_files_and_sub_tests.py
  tests/example_hello_world_tests.py
  tests/example_include_tests.py
  tests/example_iterations_tests.py
  tests/example_parameter_dependencies_tests.py
  tests/example_parameter_update_tests.py
  tests/example_parameterspace_tests.py
  tests/example_result_creation_tests.py
  tests/example_result_database_tests.py
  tests/example_scripting_parameter_tests.py
  tests/example_scripting_pattern_tests.py
  tests/example_shared_tests.py
  tests/example_statistic_tests.py
  tests/example_tagging_tests.py
  tests/run_all_tests.py
Due: none

Remove run.log files and add tests for examples with result output
  tests/example_include_tests.py
  tests/example_iterations_tests.py
  tests/example_result_creation_tests.py
  tests/example_result_database_tests.py
  tests/example_scripting_pattern_tests.py
  tests/example_statistic_tests.py
  tests/example_tagging_tests.py
  tests/examples_output/cycle/run.log
  tests/examples_output/dependencies/run.log
  tests/examples_output/do_log/run.log
  tests/examples_output/duplicate/run.log
  tests/examples_output/environment/run.log
  tests/examples_output/files_and_sub/run.log
  tests/examples_output/hello_world/run.log
  tests/examples_output/include/run.log
  tests/examples_output/iterations/run.log
  tests/examples_output/parameter_dependencies/run.log
  tests/examples_output/parameter_update/run.log
  tests/examples_output/parameterspace/run.log
  tests/examples_output/result_creation/run.log
  tests/examples_output/result_database/run.log
  tests/examples_output/scripting_parameter/run.log
  tests/examples_output/scripting_pattern/run.log
  tests/examples_output/shared/run.log
  tests/examples_output/statistic/run.log
  tests/examples_output/tagging/run.log
  tests/examples_result_output/iterations/result.dat
  tests/examples_result_output/result_creation/result.dat
  tests/examples_result_output/scripting_pattern/result.dat
  tests/examples_result_output/statistic/result.dat
Due: none

Adapt the class hierarchy and use setUpClass and docs
  tests/example_cycle_tests.py
  tests/example_dependencies_tests.py
  tests/example_do_log_tests.py
  tests/example_duplicate_tests.py
  tests/example_environment_tests.py
  tests/example_files_and_sub_tests.py
  tests/example_hello_world_tests.py
  tests/example_include_tests.py
  tests/example_iterations_tests.py
  tests/example_parameter_dependencies_tests.py
  tests/example_parameter_update_tests.py
  tests/example_parameterspace_tests.py
  tests/example_result_creation_tests.py
  tests/example_result_database_tests.py
  tests/example_scripting_parameter_tests.py
  tests/example_scripting_pattern_tests.py
  tests/example_shared_tests.py
  tests/example_statistic_tests.py
  tests/example_tagging_tests.py
  tests/run_all_tests.py
Due: none

Adaption of function names and error messages
  tests/example_cycle_tests.py
  tests/example_do_log_tests.py
  tests/example_duplicate_tests.py
  tests/example_files_and_sub_tests.py
  tests/example_include_tests.py
  tests/example_iterations_tests.py
  tests/example_result_creation_tests.py
  tests/example_result_database_tests.py
  tests/example_shared_tests.py
  tests/example_tagging_tests.py
Due: none

Move example tests to own directory
  tests/example_tests/example_cycle_tests.py
  tests/example_tests/example_dependencies_tests.py
  tests/example_tests/example_do_log_tests.py
  tests/example_tests/example_duplicate_tests.py
  tests/example_tests/example_environment_tests.py
  tests/example_tests/example_files_and_sub_tests.py
  tests/example_tests/example_hello_world_tests.py
  tests/example_tests/example_include_tests.py
  tests/example_tests/example_iterations_tests.py
  tests/example_tests/example_parameter_dependencies_tests.py
  tests/example_tests/example_parameter_update_tests.py
  tests/example_tests/example_parameterspace_tests.py
  tests/example_tests/example_result_creation_tests.py
  tests/example_tests/example_result_database_tests.py
  tests/example_tests/example_scripting_parameter_tests.py
  tests/example_tests/example_scripting_pattern_tests.py
  tests/example_tests/example_shared_tests.py
  tests/example_tests/example_statistic_tests.py
  tests/example_tests/example_tagging_tests.py
Due: none

update release notes
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Adapt the paths to the relocation of the examples test files
  tests/example_tests/example_iterations_tests.py
Due: none

Add imports to execute all new examples tests with the run_all_tests.py
  tests/example_tests/example_cycle_tests.py
  tests/run_all_tests.py
Due: none

Adjustments to the removal of the file attribute from the database example
  tests/example_tests/example_result_database_tests.py
Due: none

Removed the tagging example run without specifying tags, as this is no longer possible due to check_tags
  tests/example_tests/example_tagging_tests.py
Due: none

Adaptation of example tests to new files_and_subs example
  tests/example_tests/example_files_and_sub_tests.py
Due: none

Change the release number in the tutorial
  docs/tutorial.rst
Due: build:pdf, build:site, pages

Delete the parameter passing of select and exclude, as args is already passed
  jube2/main.py
Due: none

add new jube variable 'jube_wp_status'
  docs/glossar.rst
  docs/release_notes.rst
  jube2/benchmark.py
  jube2/workpackage.py
Due: build:release_notes, build:help, build:pdf, build:site, pages

Fix ruamel load error and relocate warning about missing installation into setup
  jube2/util/yaml_converter.py
  setup.py
Due: none

update release_notes
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Changed CI jobs for year and version to not use the tag, improved commit and push to only when there are changes
  .gitlab-ci.yml
Due: none
