Repository FZJ-JSC/JUBE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:release_notes, build:help, build:pdf, build:site, pages

build:release_notes:
  before_script:
  - rm -r "${CI_PROJECT_DIR}/${CI_JOB_NAME#*:}" || true
  - cd ${CI_PROJECT_DIR}
  - git clone https://gitlab-ci-token:${GIT_PUSH_TOKEN}@${CI_REPOSITORY_URL#*@} "${CI_JOB_NAME#*:}"
  - git config --global user.name "${BOT_NAME}"
  - git config --global user.email "${BOT_EMAIL}"
  ...

build:help:
  before_script:
  - rm -r "${CI_PROJECT_DIR}/${CI_JOB_NAME#*:}" || true
  - cd ${CI_PROJECT_DIR}
  - git clone https://gitlab-ci-token:${GIT_PUSH_TOKEN}@${CI_REPOSITORY_URL#*@} "${CI_JOB_NAME#*:}"
  - git config --global user.name "${BOT_NAME}"
  - git config --global user.email "${BOT_EMAIL}"
  ...

build:pdf:
  before_script:
  - rm -r "${CI_PROJECT_DIR}/${CI_JOB_NAME#*:}" || true
  - cd ${CI_PROJECT_DIR}
  - git clone https://gitlab-ci-token:${GIT_PUSH_TOKEN}@${CI_REPOSITORY_URL#*@} "${CI_JOB_NAME#*:}"
  - git config --global user.name "${BOT_NAME}"
  - git config --global user.email "${BOT_EMAIL}"
  ...

build:site:
  stage: build
  script:
  - cd docs
  - make html
  artifacts:
    paths:
    - docs/_build/html

pages:
  stage: deploy
  needs:
  - build:site
  script:
  - mkdir -p public
  - cp -r docs/_build/html/* public/
  artifacts:
    paths:
    - public

Updating docs/JUBE.pdf (Runner ID:653)
  docs/JUBE.pdf
Due: build:pdf, build:site, pages

Add all configuration infos to info command and necessary getter
  jube2/analyser.py
  jube2/fileset.py
  jube2/info.py
  jube2/parameter.py
  jube2/result.py
  jube2/result_types/database.py
  jube2/result_types/keyvaluesresult.py
  jube2/result_types/syslog.py
  jube2/result_types/table.py
  jube2/step.py
  jube2/substitute.py
  jube2/util/output.py
Due: none

Add release note for extended info command
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Updating RELEASE_NOTES (Runner ID:653)
  RELEASE_NOTES
Due: none

Skip include path with wrong tag instead of skip all paths
  jube2/util/yaml_converter.py
Due: none

Add release note for tags in include-path bug
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Add command 'tag' to show tag documentation
  jube2/info.py
  jube2/main.py
Due: none

Allow and extract tags-Tag for documentation
  jube2/benchmark.py
  jube2/jubeio.py
  jube2/util/yaml_converter.py
Due: none

Update tagging example and documentations for tags
  docs/advanced.rst
  docs/commandline.rst
  docs/glossar.rst
  docs/release_notes.rst
  examples/tagging/tagging.xml
  examples/tagging/tagging.yaml
Due: build:release_notes, build:help, build:pdf, build:site, pages

Update schema files for tags-Tag
  contrib/schema/jube.dtd
  contrib/schema/jube.json
  contrib/schema/jube.rnc
  contrib/schema/jube.xsd
Due: none

Allow input files for 'jube tag'
  docs/glossar.rst
  docs/release_notes.rst
  jube2/info.py
  jube2/jubeio.py
  jube2/main.py
Due: build:release_notes, build:help, build:pdf, build:site, pages

Add attribute forced to tags to force documentation for all tags
  jube2/jubeio.py
Due: none

Updating jube2/help.txt (Runner ID:653)
  jube2/help.txt
Due: none

Change directory name from jube2 to jube and adjust the package names
  jube/__init__.py
  jube/analyser.py
  jube/benchmark.py
  jube/completion.py
  jube/conf.py
  jube/fileset.py
  jube/help.py
  jube/help.txt
  jube/info.py
  jube/jubeio.py
  jube/log.py
  jube/main.py
  jube/parameter.py
  jube/pattern.py
  jube/result.py
  jube/result_types/__init__.py
  jube/result_types/database.py
  jube/result_types/genericresult.py
  jube/result_types/keyvaluesresult.py
  jube/result_types/syslog.py
  jube/result_types/table.py
  jube/step.py
  jube/substitute.py
  jube/util/__init__.py
  jube/util/output.py
  jube/util/util.py
  jube/util/version.py
  jube/util/yaml_converter.py
  jube/workpackage.py
Due: none

Add release note for code reconstruction
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Updating tests from jube2 to jube
  .gitlab-ci.yml
  tests/benchmark_tests.py
  tests/conf_tests.py
  tests/example_tests/example_result_creation_tests.py
  tests/example_tests/example_shared_tests.py
  tests/examples_tests.py
  tests/multiprocessing_tests.py
  tests/parameter_tests.py
  tests/pattern_tests.py
  tests/platform_test.xml
  tests/result_database_tests.py
  tests/step_tests.py
  tests/substitute_tests.py
  tests/util_tests.py
  tests/xml_tests.py
  tests/yaml_tests.py
Due: none

Updating documentation from jube2 to jube
  docs/Makefile
  docs/conf.py
  docs/devel.rst
  docs/index.rst
  docs/jube.result_types.rst
  docs/jube.rst
  docs/jube.util.rst
  docs/tutorial.rst
  docs/update_python_docu.sh
Due: build:pdf, build:site, pages

Updating setup and readme from jube2 to jube
  README.md
  bin/jube
  contrib/schema/jube.xsd
  setup.py
Due: none

update web links and minor revision of the release_notes
  .gitlab-ci.yml
  README.md
  docs/release_notes.rst
  docs/tutorial.rst
Due: build:release_notes, build:pdf, build:site, pages

update release_notes for REL-2.7.0
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Updating Version (Runner ID:653)
  docs/conf.py
  jube/conf.py
  setup.py
Due: build:pdf, build:site, pages

fix glossar
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Added CI jobs to test make commands
  .gitlab-ci.yml
Due: none

Added release notes for CI tests of make commands
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Updating jube/help.txt (Runner ID:653)
  jube/help.txt
Due: none

fix tag description check
  docs/release_notes.rst
  jube/jubeio.py
  jube/main.py
  tests/example_tests/example_tagging_tests.py
Due: build:release_notes, build:pdf, build:site, pages

Path conditions:
  build:release_notes: any of: docs/release_notes.rst
  build:help: any of: docs/glossar.rst
  build:pdf: any of: docs/**/*
  build:site: any of: docs/**/*
  pages: any of: docs/**/*
