Repository FZJ-JSC/JUBE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:release_notes, build:help, build:pdf, build:site, pages

build:release_notes:
  before_script:
  - rm -r "${CI_PROJECT_DIR}/${CI_JOB_NAME#*:}" || true
  - cd ${CI_PROJECT_DIR}
  - git clone https://gitlab-ci-token:${GIT_PUSH_TOKEN}@${CI_REPOSITORY_URL#*@} "${CI_JOB_NAME#*:}"
  - git config --global user.name "${BOT_NAME}"
  - git config --global user.email "${BOT_EMAIL}"
  ...

build:help:
  before_script:
  - rm -r "${CI_PROJECT_DIR}/${CI_JOB_NAME#*:}" || true
  - cd ${CI_PROJECT_DIR}
  - git clone https://gitlab-ci-token:${GIT_PUSH_TOKEN}@${CI_REPOSITORY_URL#*@} "${CI_JOB_NAME#*:}"
  - git config --global user.name "${BOT_NAME}"
  - git config --global user.email "${BOT_EMAIL}"
  ...

build:pdf:
  before_script:
  - rm -r "${CI_PROJECT_DIR}/${CI_JOB_NAME#*:}" || true
  - cd ${CI_PROJECT_DIR}
  - git clone https://gitlab-ci-token:${GIT_PUSH_TOKEN}@${CI_REPOSITORY_URL#*@} "${CI_JOB_NAME#*:}"
  - git config --global user.name "${BOT_NAME}"
  - git config --global user.email "${BOT_EMAIL}"
  ...

build:site:
  stage: build
  script:
  - cd docs
  - make html
  artifacts:
    paths:
    - docs/_build/html

pages:
  stage: deploy
  needs:
  - build:site
  script:
  - mkdir -p public
  - cp -r docs/_build/html/* public/
  artifacts:
    paths:
    - public

Removed return from unittests
  tests/xml_tests.py
  tests/yaml_tests.py
Due: none

add JUBE logo in svg format
  docs/conf.py
  docs/logo/JUBE-Logo.png
  docs/logo/JUBE-Logo.svg
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Updated release notes
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Updating RELEASE_NOTES (Runner ID:653)
  RELEASE_NOTES
Due: none

Replace relative with absolute path to allow test execution from any location
  tests/substitute_tests.py
Due: none

add new parameter jobname to slurm platform.xml
  docs/release_notes.rst
  platform/slurm/platform.xml
Due: build:release_notes, build:pdf, build:site, pages

add eps logo and use it as latex_logo
  docs/conf.py
  docs/logo/JUBE-Logo.eps
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Updating docs/JUBE.pdf (Runner ID:653)
  docs/JUBE.pdf
Due: build:pdf, build:site, pages

Add release notes
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Fix unit for result output with title
  jube2/result_types/genericresult.py
  jube2/result_types/keyvaluesresult.py
Due: none

Allow include in include-path for xml
  jube2/jubeio.py
Due: none

Add recursion function to allow include in include-path
  jube2/util/yaml_converter.py
Due: none

Change schema files
  contrib/schema/jube.dtd
  contrib/schema/jube.json
  contrib/schema/jube.rnc
  contrib/schema/jube.xsd
Due: none

Add continue test for operation done-file
  tests/step_tests.py
Due: none

add first version of CONTRIBUTING.md
  CONTRIBUTING.md
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

add reference to contributing to developer docu
  docs/devel.rst
Due: build:pdf, build:site, pages

modified the readme
  README.md
Due: none

add first version of CODE_OF_CONDUCT.md file
  CODE_OF_CONDUCT.md
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

update README.md
  README.md
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

add deprecation info about comma character to release_notes
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Save current logfile to use right log for parallel run
  jube2/benchmark.py
Due: none

Add release note about fixed log file
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Path conditions:
  build:release_notes: any of: docs/release_notes.rst
  build:help: any of: docs/glossar.rst
  build:pdf: any of: docs/**/*
  build:site: any of: docs/**/*
  pages: any of: docs/**/*
