Repository FZJ-JSC/JUBE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:release_notes, build:help, build:pdf, build:site, pages

build:release_notes:
  stage: build
  script:
  - cd docs
  - make update_release
  artifacts:
    paths:
    - RELEASE_NOTES

build:help:
  stage: build
  script:
  - cd docs
  - make update_help
  artifacts:
    paths:
    - jube2/help.txt

build:pdf:
  stage: build
  script:
  - cd docs
  - make latexpdf
  artifacts:
    paths:
    - docs/JUBE.pdf

build:site:
  stage: build
  script:
  - cd docs
  - make html
  artifacts:
    paths:
    - docs/_build/html

pages:
  stage: deploy
  needs:
  - build:site
  script:
  - mkdir -p public
  - cp -r docs/_build/html/* public/
  artifacts:
    paths:
    - public

Testing latex after installing latexmk on runner
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Testing again latex after installing latexmk on runner
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Added update of sphinx on gitlab-ci
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Improved pip dependencies
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Trying to update sphinx
  .gitlab-ci.yml
Due: none

Give specific versions to be installed vy pip
  .gitlab-ci.yml
Due: none

Added tex dependencies
  .gitlab-ci.yml
Due: none

Trying to fix tlmgr
  .gitlab-ci.yml
Due: none

Trying after fixing tlmgr repo date
  .gitlab-ci.yml
Due: none

Added change in repository in runner
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Added extra required latex packages
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Added script to push files directly by the CI runner
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Removed tex dependencies from CI (cause more harm than good)
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Trying to fix variables to push files
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Removed 'echo' and testing if the push really works
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Testing local commit using token
  RELEASE_NOTES
Due: none

Testing local commit using token 2
  RELEASE_NOTES
Due: none

Added git checkout to current branch, to try to fix git push
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Updating RELEASE_NOTES (Runner ID:653)
  RELEASE_NOTES
Due: none

Added push for help and pdf
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Added git fetch and check if there's something to commit
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Removed comments, added automatic URL using variable
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Avoid using multiline script, as it's difficult to see where the problem is
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Added git clone to 'before_script' on make calls
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Added cd to the commit cloned folder
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Added missing cd to cloned repo
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

DEBUG: trying to understand missing folder
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Fixed folders
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Trying again to fix folders
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Updating docs/JUBE.pdf (Runner ID:653)
  docs/JUBE.pdf
Due: build:pdf, build:site, pages

Changed temporary folders used to generate files
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Updating jube2/help.txt (Runner ID:653)
  jube2/help.txt
Due: none

Removed temporary entry to glossar and release notes; Separated tests in CI
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Fixed tests, readded temp entry
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Fixed folder of tests, removed temp entry
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Looking for error in path.join
  tests/examples_tests.py
Due: none

Inverted order of stages
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Path conditions:
  build:release_notes: any of: docs/release_notes.rst
  build:help: any of: docs/glossar.rst
  build:pdf: any of: docs/**/*
  build:site: any of: docs/**/*
  pages: any of: docs/**/*
