Repository FZJ-JSC/JUBE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:release_notes, build:help, build:pdf, build:site, pages

build:release_notes:
  before_script:
  - rm -r "${CI_PROJECT_DIR}/${CI_JOB_NAME#*:}" || true
  - cd ${CI_PROJECT_DIR}
  - git clone https://gitlab-ci-token:${GIT_PUSH_TOKEN}@${CI_REPOSITORY_URL#*@} "${CI_JOB_NAME#*:}"
  - git config --global user.name "${BOT_NAME}"
  - git config --global user.email "${BOT_EMAIL}"
  ...

build:help:
  before_script:
  - rm -r "${CI_PROJECT_DIR}/${CI_JOB_NAME#*:}" || true
  - cd ${CI_PROJECT_DIR}
  - git clone https://gitlab-ci-token:${GIT_PUSH_TOKEN}@${CI_REPOSITORY_URL#*@} "${CI_JOB_NAME#*:}"
  - git config --global user.name "${BOT_NAME}"
  - git config --global user.email "${BOT_EMAIL}"
  ...

build:pdf:
  before_script:
  - rm -r "${CI_PROJECT_DIR}/${CI_JOB_NAME#*:}" || true
  - cd ${CI_PROJECT_DIR}
  - git clone https://gitlab-ci-token:${GIT_PUSH_TOKEN}@${CI_REPOSITORY_URL#*@} "${CI_JOB_NAME#*:}"
  - git config --global user.name "${BOT_NAME}"
  - git config --global user.email "${BOT_EMAIL}"
  ...

build:site:
  stage: build
  script:
  - cd docs
  - make html
  artifacts:
    paths:
    - docs/_build/html

pages:
  stage: deploy
  needs:
  - build:site
  script:
  - mkdir -p public
  - cp -r docs/_build/html/* public/
  artifacts:
    paths:
    - public

update release_notes for REL-2.6.2
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Updating Version (Runner ID:653)
  docs/conf.py
  jube2/conf.py
  setup.py
Due: build:pdf, build:site, pages

Updating RELEASE_NOTES (Runner ID:653)
  RELEASE_NOTES
Due: none

Updating docs/JUBE.pdf (Runner ID:653)
  docs/JUBE.pdf
Due: build:pdf, build:site, pages

add CODE_OF_CONDUCT.md and CONTRIBUTING.md to dist package
  setup.py
Due: none

Add release note for no comma support in tag
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Remove convert of old tag format and add error
  jube2/jubeio.py
  jube2/util/util.py
Due: none

Console output for converted type warning removed
  jube2/util/util.py
Due: none

Add name to warning
  jube2/analyser.py
  jube2/jubeio.py
  jube2/result.py
  jube2/step.py
  jube2/util/util.py
  tests/util_tests.py
Due: none

Add release note for changed warning behaviour
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Add doku and release note for new environment variable JUBE_VERBOSE
  docs/release_notes.rst
  docs/tutorial.rst
Due: build:release_notes, build:pdf, build:site, pages

Add environment variable JUBE_VERBOSE to set verbose level
  jube2/main.py
  jube2/util/util.py
Due: none

Add warning for verbose level out of range
  jube2/main.py
Due: none

Add xor as option to check_tags
  jube2/jubeio.py
  jube2/util/util.py
Due: none

Modify schema, docs and release note file for new xor option in check_tags
  contrib/schema/jube.json
  docs/advanced.rst
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Updating jube2/help.txt (Runner ID:653)
  jube2/help.txt
Due: none

Add primekey attribute to database key
  jube2/jubeio.py
  jube2/result_types/database.py
  tests/result_database_tests.py
Due: none

Use keyvalueresult as parent for database result class
  jube2/result_types/database.py
  jube2/result_types/keyvaluesresult.py
Due: none

Adjustments for database tests
  tests/result_database_tests.py
Due: none

Use title of database key as columnname
  examples/result_database/result_database.xml
  examples/result_database/result_database.yaml
  jube2/result_types/database.py
  tests/example_tests/example_result_database_tests.py
Due: none

Update documentation and schema
  contrib/schema/jube.dtd
  contrib/schema/jube.json
  contrib/schema/jube.rnc
  contrib/schema/jube.xsd
  docs/advanced.rst
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Allow removal from outpath when given via command line
  jube2/jubeio.py
  jube2/main.py
Due: none

Update schema and documentation for new outpath behaviour
  contrib/schema/jube.dtd
  contrib/schema/jube.json
  contrib/schema/jube.rnc
  contrib/schema/jube.xsd
  docs/commandline.rst
  docs/release_notes.rst
  jube2/main.py
Due: build:release_notes, build:pdf, build:site, pages

Add envrionment var JUBE_BENCHMARK_OUTPATH to specify benchmark outpath
  docs/release_notes.rst
  docs/tutorial.rst
  jube2/benchmark.py
  jube2/main.py
  jube2/util/util.py
Due: build:release_notes, build:pdf, build:site, pages

Fixed nested parameterset include bug
  jube2/util/yaml_converter.py
Due: none

Add release notes for fixed nested parameterset include bug
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Path conditions:
  build:release_notes: any of: docs/release_notes.rst
  build:help: any of: docs/glossar.rst
  build:pdf: any of: docs/**/*
  build:site: any of: docs/**/*
  pages: any of: docs/**/*
