Repository FZJ-JSC/JUBE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:release_notes, build:help, build:pdf, build:site, pages

Path conditions:
  build:release_notes: any of: docs/release_notes.rst
  build:help: any of: docs/glossar.rst
  build:pdf: any of: docs/**/*
  build:site: any of: docs/**/*
  pages: any of: docs/**/*

Revert "Merge branch 'DEV-FG-ci-improvement' into 'master'"
  .gitlab-ci.yml
Due: none

Improvements on CI
  .gitlab-ci.yml
Due: none

fix parallel_workpackages.yaml example
  examples/parallel_workpackages/parallel_workpackages.yaml
Due: none

Indentation fixed in YAML schema
  contrib/schema/jube.json
Due: none

added new "mode" attribute of sub-tag to YAML schema
  contrib/schema/jube.json
Due: none

Allow arrays of strings in YAML schema
  contrib/schema/jube.json
Due: none

added global tag "check_tags" to YAML schema
  contrib/schema/jube.json
Due: none

added "unit" attribute of parameter to YAML schema
  contrib/schema/jube.json
Due: none

added attribute _ of sub-tag to YAML schema
  contrib/schema/jube.json
Due: none

Fixed folder on CI jobs; small change on release notes to trigger CI
  .gitlab-ci.yml
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Checking if version must be updated (Runner ID:653)
  docs/conf.py
  jube2/conf.py
  setup.py
Due: build:pdf, build:site, pages

Checking if year must be updated (Runner ID:653)
  docs/conf.py
Due: build:pdf, build:site, pages

Updating docs/JUBE.pdf (Runner ID:653)
  docs/JUBE.pdf
Due: build:pdf, build:site, pages

Updating RELEASE_NOTES (Runner ID:653)
  RELEASE_NOTES
Due: none

fixed type of boolean attributes in YAML schema
  contrib/schema/jube.json
Due: none

add yaml schema to release_notes
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Fixed grep command, added {} in a few variables, improved bot text
  .gitlab-ci.yml
Due: none

add yaml schema info to adv tutorial
  docs/advanced.rst
Due: build:pdf, build:site, pages

Updating Version (Runner ID:653)
  docs/conf.py
  jube2/conf.py
  setup.py
Due: build:pdf, build:site, pages

Removed export of empty variables (Fix for issue Nr. 3 on GitHub)
  jube2/parameter.py
Due: none

Changed from skipping empty variable export to export empty variable
  jube2/parameter.py
Due: none

Added info on release notes
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Minor adjustments in the tutorial docu
  docs/advanced.rst
  docs/glossar.rst
  docs/tutorial.rst
Due: build:help, build:pdf, build:site, pages

Add the select- and exclude-option to result and the output-command to commandline docu
  docs/commandline.rst
Due: build:pdf, build:site, pages

Formatting list and link in tutorial for new release
  docs/advanced.rst
  docs/tutorial.rst
Due: build:pdf, build:site, pages

Add the installation note for ruamel to the README
  README.md
Due: none

Add <tag> to <selection> and adjust the quotes
  docs/advanced.rst
  docs/glossar.rst
  docs/tutorial.rst
Due: build:help, build:pdf, build:site, pages

modify and reorder release_notes for upcoming REL-2.6.0
  README.md
  docs/release_notes.rst
  docs/tutorial.rst
Due: build:release_notes, build:pdf, build:site, pages

Updating jube2/help.txt (Runner ID:653)
  jube2/help.txt
Due: none

remove 'unreleased' from release_note
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Fixes and improvements on CI
  .gitlab-ci.yml
Due: none
