Repository FZJ-JSC/JUBE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:release_notes, build:help, build:pdf, build:site, pages

.gitlab-ci.yml:

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
    PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
    PIP_DEPENDENCIES: "sphinx ruamel.yaml"
    GIT_DEPTH: 1                              # Create a shallow copy
    BOT_NAME: "GitLab Runner Bot"             # Bot's name that appears in the commit log
    BOT_EMAIL: "jube@fz-juelich.de"           # Bot's email, not important

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
    paths:
        - .cache/pip

stages:
    - tests
    - build
    - deploy

before_script:
    - python3 -V  # Print out python version for debugging
    # Dependencies:
    - pip3 install $PIP_DEPENDENCIES
    # Checking installed packages and their versions
    - pip3 list
    # PATH required for tests
    - export PYTHONPATH=jube2:$PYTHONPATH

tests:
    stage: tests
    script:
        - python3 tests/run_all_tests.py

.push_files: &push_files
    before_script:
        # Cloning to a new folder to avoid caching issues
        - git clone https://gitlab-ci-token:${GIT_PUSH_TOKEN}@${CI_REPOSITORY_URL#*@} "${CI_JOB_NAME}"
        # Using bot information
        - git config --global user.name "${BOT_NAME}"
        - git config --global user.email "${BOT_EMAIL}"
        # Changing cloned repo to current branch
        - cd "${CI_JOB_NAME}"
        - git checkout ${CI_COMMIT_BRANCH}
    after_script:
        - cd "${CI_PROJECT_DIR}/${CI_JOB_NAME}"
        - git status
        # Add list of files
        - git add ${FILE_LIST}
        - git commit -m "${COMMIT_MESSAGE} (Runner ID:${CI_RUNNER_ID})"
        - git push -o ci.skip https://gitlab-ci-token:${GIT_PUSH_TOKEN}@${CI_REPOSITORY_URL#*@}
        # Cleaning up
        - cd ${CI_PROJECT_DIR}
        - rm -r "${CI_PROJECT_DIR}/${CI_JOB_NAME}"

build:release_notes:
    variables:
        FILE_LIST: RELEASE_NOTES
        COMMIT_MESSAGE: "Updating $FILE_LIST"
    stage: build
    script:
        - cd "${CI_PROJECT_DIR}/${CI_JOB_NAME}/docs"
        - make update_release
    <<: *push_files
    rules:
        - changes:
            - docs/release_notes.rst

build:help:
    variables:
        FILE_LIST: jube2/help.txt
        COMMIT_MESSAGE: "Updating $FILE_LIST"
    stage: build
    script:
        - cd "${CI_PROJECT_DIR}/${CI_JOB_NAME}/docs"
        - make update_help
    <<: *push_files
    rules:
        - changes:
            - docs/glossar.rst

build:pdf:
    variables:
        FILE_LIST: docs/JUBE.pdf
        COMMIT_MESSAGE: "Updating $FILE_LIST"
    stage: build
    script:
        - cd "${CI_PROJECT_DIR}/${CI_JOB_NAME}/docs"
        - make latexpdf
    <<: *push_files
    rules:
        - changes:
            - docs/**/* # all files under folder 'docs'

build:site:
    stage: build
    script:
        - cd docs
        - make html
    artifacts:
        paths:
            - docs/_build/html
    rules:
        - changes:
            - docs/**/* # all files under folder 'docs'

pages:
    stage: deploy
    needs: 
        - build:site
    script:
        - mkdir -p public
        - cp -r docs/_build/html/* public/
    artifacts:
        paths:
            - public
    rules:
        - changes:
            - docs/**/* # all files under folder 'docs'

Added a preparation step to install dependencies
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Updating RELEASE_NOTES (Runner ID:653)
  RELEASE_NOTES
Due: none

Updating docs/JUBE.pdf (Runner ID:653)
  docs/JUBE.pdf
Due: build:pdf, build:site, pages

Added pull before push and export before tests
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Removed debug prints from example tests
  tests/examples_tests.py
Due: none

Removed temporary keywords
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Fixed command when rm non-existing folder; changed year such that files are updated
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Updating jube2/help.txt (Runner ID:653)
  jube2/help.txt
Due: none

Added resource_group to pipeline to run jobs in serial
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Added merging stragety config
  .gitlab-ci.yml
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Changed dates to trigger CI jobs
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Added manual step to copy site to production (not tested yet)
  .gitlab-ci.yml
Due: none

Test is tag will trigger CI job
  .gitlab-ci.yml
Due: none

Changed condition for production to BOTH: being on master AND having changes
  .gitlab-ci.yml
Due: none

Added CI jobs to update year and version (using REL- tag)
  .gitlab-ci.yml
Due: none

Fixing colon issue
  .gitlab-ci.yml
Due: none

fix parallel_workpackages example
  examples/parallel_workpackages/parallel_workpackages.xml
  examples/parallel_workpackages/parallel_workpackages.yaml
Due: none

Debug inconsistent use of tabs and spaces
  jube2/result.py
Due: none

type to sub_type
  jube2/jubeio.py
  jube2/substitute.py
Due: none

correct io
  jube2/jubeio.py
  jube2/substitute.py
Due: none

Better names and without additional attribute
  jube2/benchmark.py
  jube2/main.py
  jube2/result_types/database.py
  jube2/result_types/genericresult.py
  jube2/result_types/keyvaluesresult.py
  jube2/result_types/syslog.py
  jube2/result_types/table.py
Due: none

Delete key for database
  jube2/result_types/genericresult.py
Due: none

Debug test
  jube2/parameter.py
Due: none

Issue197
  docs/release_notes.rst
  docs/tutorial.rst
  examples/result_creation/result_creation.xml
  examples/result_creation/result_creation.yaml
  tests/examples_output/result_creation/run.log
Due: build:release_notes, build:pdf, build:site, pages

update release_notes
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Add parameter unit to glossar
  docs/glossar.rst
Due: build:help, build:pdf, build:site, pages

Add release note
  docs/release_notes.rst
Due: build:release_notes, build:pdf, build:site, pages

Add glossar and release note
  docs/glossar.rst
  docs/release_notes.rst
Due: build:release_notes, build:help, build:pdf, build:site, pages

Add release and documentation note
  docs/release_notes.rst
  docs/tutorial.rst
Due: build:release_notes, build:pdf, build:site, pages

fix bug in multiprocessing_test
  tests/multiprocessing_tests.py
Due: none

Thread fix
  jube2/parameter.py
  jube2/result_types/table.py
Due: none

Add test for regex substitution
  tests/run_all_tests.py
  tests/substitute_tests.py
Due: none

Change name from type to mode
  docs/glossar.rst
  docs/release_notes.rst
  jube2/jubeio.py
  jube2/substitute.py
Due: build:release_notes, build:help, build:pdf, build:site, pages

Add mode to schema files
  contrib/schema/jube.dtd
  contrib/schema/jube.rnc
  contrib/schema/jube.xsd
Due: none

Add unit to schema files
  contrib/schema/jube.dtd
  contrib/schema/jube.rnc
  contrib/schema/jube.xsd
Due: none
